<!DOCTYPE html>
<html>
<% if @current_user %>
  <h1><%= @place["name"] %></h1>
  <h2>My Characters</h2>
  <head>
    <meta charset="utf-8">
    <title>Characters</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
      .fixed-width-container {
        max-width: 1200px;
        margin: 0 auto;
      }
      .post-section {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        /* New color scheme */
        background-color: #F5F2F2;
        color: #343;
      }
      /* Additional styling for headings */
      h1, h2, h3, h4 {
        color: #535;
      }
      /* New color for links */
      a {
        color: #007CFF;
      }
    </style>
  </head>
  <body>
    <div class="fixed-width-container">
      <div class="row">
      <% for post in @posts %>
        <div class="col-lg-4">
          <div class="post-section">
            <h3><%= post["title"] %></h3>
            <h4><%= post["posted_on"] %></h4>
            <p><%= post["description"] %></p>
            <% if post.uploaded_image.attached? %>
              <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
            <% else %>
              <img src="<%= post["image"] %>" class="img-fluid">
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">Add new Characters</a>
</p>
<p>
  <a href="/places">Back to Characters</a>
</p>
<% else %>
  <p> Sing in pls!!!</p>
<% end %>
</html>